### OS ###
.DS_Store
.AppleDouble
.LSOverride
Thumbs.db
ehthumbs.db
Desktop.ini

### IDE ###
.idea/
*.iml

### Build ###
target/
build/
*.class
*.jar
*.war
*.ear

### Maven ###
dependency-reduced-pom.xml
release.properties
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup

### Gradle ###
.gradle/
**/build/
gradle-app.setting
.gradle-task-name-cache

### Visual Studio Code ###
.vscode/
.history/

### Logs ###
*.log
hs_err_pid*
replay_pid*

### Temporary files ###
*.tmp
*.temp
*.swp
*.swo
*.bak
*~

### Others ###
out/
